* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-weight: 300;
  font-size: 18px;
  color: #e5e7ebe0;
}

header {
  height: 68vh;
}

footer {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

header, footer, body {
  background-color: #1f2937;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32.5%;
  margin-top: 20px;
}

nav h2 {
  font-size: 24px;
  color: #f9faf8;
}

a {
  text-decoration: none;
  color: #e5e7ebe0;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 8px 35px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

img {
  width: 35%;
  height: auto;
}

figure {
  width: 14%;
  text-align: center;
}

figcaption {
  font-size: 18px;
  color: #565f6c;
}

figure img {
  border-radius: 10px;
  width: 90%;
}

li {
  color: #e5e7ebe0;
  font-size: 18px;
}

div#website-info {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  margin-bottom: 60px;
  justify-content: center;
  gap: 3%;
}

div#website-info > div {
  width: 33%;
}

div#website-info h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}

div#website-info p {
  font-size: 18px;
  color: #e5e7ebe0;
  margin: 2px 0;
}

div#main-content, section#photos, #gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

section#photos {
  height: 63vh;
}

blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

section#quote {
  width: 100%;
  height: 57vh;
  background-color: #e5e7eb;
  position: relative;
}

#quote-box {
  width: 56.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section#quote h3 {
  font-size: 25px;
  font-weight: 700;
  color: #1f2937;
  align-self: flex-end;
}

section#signup-motivation {
  height: 47vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div#main-content h1 {
  margin: 4% 0;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

#gallery {
  flex-direction: row;
  justify-content:  center;
  align-items: flex-start;
  gap: 2%;
}

#signup-box {
  background-color: #3882f6;
  width: 75%;
  height: 43%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

#signup-box p {
  margin-top: 5px;
  color: #e5e7ebe0;
}

#signup-box button {
  border: 2px solid white;
}